* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #121212;
    font-size: 1rem;
    background-color: #fff;
}

/* ===== Header CSS ===== */
.header-area {

    background-color: #f8f9fa;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;


}

.header-area .navbar-brand {
    display: flex;
    width: auto;
    align-items: flex-end;
    text-decoration: none;
}

.btn:link,
.btn:visited {
    font-size: 18px;
    color: #1971c2;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;

}

.btn:hover,
.btn:active {
    background-color: #1971c2;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
}



h1 {
    color: #1971c2;
    font-size: 24px;
}

.container {
    width: 960px;
    margin: 0 auto;
}